:root {
    --text-color: #f3bbbb;
    --font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --whole-background: var(--text-color);
    --whole-text-color: #652121;
    --project-text-color: rgb(21, 1, 1);
    --project-background: #bb6771;
    --project-shadow: rgb(145, 118, 118);
    --header-background: #813232;
    --about-me-back: #e8989c;
  }

.header {
    height: max(40px,3.5vw);
    background-color: var(--header-background);
    display: flex;
    width: 100%;
    align-items: center;

}

#fancy-name {
    font-size: 3.5vh;
    height: 50px;
}

.name-box {
    font-size: max(2vw,20px);
    height: 50px;
    display: table-cell;
    width: fit-content;
    vertical-align: middle;
    font-family:"Brush Script MT", "Brush";
    padding-left: 20px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    text-decoration: none;
}
.name-box:hover {
    color:#652121
}

.main-container {
    display: flex;
}
.about-me {
    width: max(400px, 25vw);
    background-color:var(--about-me-back);
    height: calc(100vh - max(40px, 3.5vw));
}

.projects {
    width: calc(100vw - max(400px, 25vw));
    justify-content: center;
    
}
.project-container {
    display: flex;
    justify-content: center;
}
.project {
    display: table-cell;
    background-color: var(--about-me-back);
    width: 10vw;
    height: 10vw;
    border-radius: 20px;
    margin: 20px;
}


.nav-link {
    text-decoration: none;
}