:root {
    --text-color: #f3bbbb;
    --font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --whole-background: var(--text-color);
    --whole-text-color: #652121;
    --project-text-color: rgb(21, 1, 1);
    --project-background: #bb6771;
    --project-shadow: rgb(145, 118, 118);
    --header-background: #813232;
  }

.header {
    height: 75px;
    background-color: var(--header-background);
    display: table;
    width: 100%;

}

#fancy-name {
    font-size: 3.5vh;
    height: 50px;
}

.name-box {
    font-size: 2vw;
    height: 50px;
    display: table-cell;
    width: fit-content;
    vertical-align: middle;
    font-family:"Brush Script MT", "Brush";
    padding-left: 20px;
    color: var(--text-color);
}