body {
  margin: 0;
  background: var(--text-color);
  height: 100vh;
  /*background: linear-gradient(60deg, red, black);*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('images/circle.svg'); */
  /* background-repeat: repeat;
  background-position: 1% 1%;
  background-size: 0.5%; */
  
}

code {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
